spring:
    application:
        name: CharonDataCollector
    datasource:
        url: jdbc:postgresql://localhost:5433/charondb
        username: charon_data_collector
        password: ${POSTGRES_PASSWORD_CHARONDATACOLLECTOR}
        driver-class-name: org.postgresql.Driver
    jpa:
        properties[hibernate.default_schema]: charon_data_collection
        hibernate:
            default_schema: charon_data_collection
            ddl-auto: none
        show-sql: true
    flyway:
        url: jdbc:postgresql://localhost:5433/charondb
        user: charon_flyway
        password: ${POSTGRES_PASSWORD_FLYWAY}
        schemas: charon_data_collection
        driver-class-name: org.postgresql.Driver
        # Manually set the database type to avoid the unsupported version check
        connect-retries: 3
        placeholders[flyway.database]: postgresql
    kafka:
        bootstrap-servers: host.docker.internal:9092
        consumer:
            group-id: charon-consumer-group
            auto-offset-reset: earliest
            key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
        producer:
            key-serializer: org.apache.kafka.common.serialization.StringSerializer
            value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
        properties:
            "[spring.json.trusted.packages]": "*"

charondata:
    scheduler:
            default-cron: 0 0 * * * # execute every day
            # default-cron: "0 * * * * ?"
            module-schedules:
                transit-schedule:
                    default-cron: "0 0 * * * ?"
                    service-crons:
                        bCFerriesScheduleScraperServiceImpl: "default"

server:
    port: 7001

charonenv:
    baseUrl: http://localhost